/* CSS -> Cascading Style Sheet */

/* h1, p, div, span are selectors and color & background colors are description. 
 -> (h1 & span) are "Single selectors" but (div, p) are "Multiple selectors".
 -> color or background-color :- property or key && red, brown or darkblue :- value.
*/

h1 {
    color: red; 
}

div , p{
    color: darkblue;
    background-color: skyblue;
}   

span{
    color: brown;
    background-color: lightpink;
}